# URL base del API Gateway (ej. http://localhost:8080 o IP de red local para celular: http://192.168.1.X:8080)
EXPO_PUBLIC_API_GATEWAY_URL=http://localhost:8080

# 'true' para usar simulación local (sin requerir backend encendido)
# 'false' para enviar peticiones reales al API Gateway
EXPO_PUBLIC_USE_MOCK_DATA=true
